<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="../vendor/autoload.php"
        colors="true"
        verbose="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="doganoo/Recommender test suite">
            <directory>/test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
